<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ell.one.clarix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutorLink"
        tools:targetApi="31">

        <activity
            android:name="lk.payhere.androidsdk.PHMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity
            android:name=".activities.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TutorBookings"
            android:exported="false" />
        <activity
            android:name=".activities.activity_tutee_bookings"
            android:exported="false" />
        <activity
            android:name=".activities.activity_book_session"
            android:exported="false" />
        <activity
            android:name=".activities.activity_tutor_detail"
            android:exported="false" />
        <activity
            android:name=".activities.activity_search_tutors"
            android:exported="false" />
        <activity
            android:name=".activities.ViewScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.set_availability"
            android:exported="false" />
        <activity
            android:name=".activities.guest"
            android:exported="false" />
        <activity
            android:name=".activities.tutee_home"
            android:exported="false" />
        <activity
            android:name=".activities.tutor_home"
            android:exported="false"
            android:theme="@style/Theme.TutorLink" />
        <activity
            android:name=".activities.DeleteProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".DetailActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".HistoryActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".SplashActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".CommentActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".AppointmentActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activities.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".activities.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>